.shape-image {
  width: 100%;
  height: 100%;
}

.missing-shape-image {
  width: 100%;
}

.shape-choice {
  width: 15%;
}

.choice-board {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.results-board {
  width: 40%;
  height: 30%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;

  .results-column {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .chosen-shape {
    width: 60%;
  }

  .result-message {
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
  }
}

.game {
  top: 10%;
  bottom: 5%;
  width: 100%;
  position: absolute;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20%;
}
